openapi: 3.0.0
info:
  title: SimuTrade Core API
  description: API for SimuTrade AI Supply Chain Simulation
  version: 1.0.0
servers:
  - url: https://api.simutrade.app
    description: Production Server
  - url: http://localhost:8080
    description: Local Development Server
paths:
  /user/auth/email/verify:
    post:
      tags:
        - user/auth/email
      summary: Verify email registration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
      responses:
        "200":
          description: Email sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Email sent. Please check yout inbox
                  data:
                    type: object
                    properties:
                      verificationCheck:
                        type: string
                        format: URL
                        example: https://api.simutrade.app/user/auth/email/activation?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRldkBmaXRmbG8uc2l0ZSIsImlzVmVyaWZpZWQiOmZhbHNlLCJpYXQiOjE3NDE5MTY3MzEsImV4cCI6MTc0MTkzMTEzMX0.0pilDYxCLIuFT1JG9wZ2TGFzgUIhwTMbDOQ6YzUknJs
        "400":
          description: Email already verified or requesting verification too frequent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Email already verified
                  data:
                    type: object
  /user/auth/email/activation:
    get:
      tags:
        - user/auth/email
      summary: Check email verification status
      parameters:
        - name: token
          in: query
          required: true
          description: JWT token obtained from /verify request
          schema:
            type: string
      responses:
        "200":
          description: User is verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: User is verified
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                        example: dev@simutrade.app
                      isVerified:
                        type: boolean
                        example: true
        "400":
          description: Verification Link Expired or User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Verification Link Expired. Please request email verification again.
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                        example: dev@simutrade.app
                      isVerified:
                        type: boolean
                        example: false
  /user/auth/email/register:
    post:
      tags:
        - user/auth/email
      summary: Register a verified email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: "password123"
      responses:
        "200":
          description: User is registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Email registration successful
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                        example: dev@simutrade.app
                      token:
                        type: string
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRldkBmaXRmbG8uc2l0ZSIsImF1dGgiOiJlbWFpbCIsImlhdCI6MTc0MTkxNjc3NiwiZXhwIjoxNzQxOTMxMTc2fQ.kvBAlh25YCECL1X4qn5ye2U8jMRhl_alOAd98rz22JY
        "400":
          description: Email is not yet verified or already registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: User is registered
                  data:
                    type: object
  /user/auth/email/login:
    post:
      tags:
        - user/auth/email
      summary: Login a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  example: "password123"
      responses:
        "200":
          description: User logged in successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Login Success
                  data:
                    type: object
                    properties:
                      email:
                        type: string
                        format: email
                        example: dev@simutrade.app
                      token:
                        type: string
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRldkBmaXRmbG8uc2l0ZSIsImF1dGgiOiJlbWFpbCIsImlhdCI6MTc0MTkxNjc3NiwiZXhwIjoxNzQxOTMxMTc2fQ.kvBAlh25YCECL1X4qn5ye2U8jMRhl_alOAd98rz22JY
        "401":
          description: Unauthorized, invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Unauthorized, invalid credentials
                  data:
                    type: object
  /user/auth/email/forgot-password:
    post:
      tags:
        - user/auth/email
      summary: Reset forgotten password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
      responses:
        "200":
          description: Email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Email sent. Please check yout inbox
                  data:
                    type: object
        "400":
          description: Email not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Email not found
                  data:
                    type: object
  /user/auth/email/change-password:
    put:
      tags:
        - user/auth/email
      summary: Change forgotten password after the email verified
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  format: password
                  example: "newpass"
                token:
                  type: string
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRldkBmaXRmbG8uc2l0ZSIsImF1dGgiOiJlbWFpbCIsImlhdCI6MTc0MTkxNjc3NiwiZXhwIjoxNzQxOTMxMTc2fQ.kvBAlh25YCECL1X4qn5ye2U8jMRhl_alOAd98rz22JY
      responses:
        "200":
          description: User password changed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: User password changed
                  data:
                    type: object
        "400":
          description: Password Change Token Expired
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Password Change Token Expired. Please request password reset again.
                  data:
                    type: object
  /user/auth/refresh-token:
    get:
      tags:
        - user/auth
      summary: Refresh authentication token
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Token refreshed successfully
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImRldkBmaXRmbG8uc2l0ZSIsImF1dGgiOiJlbWFpbCIsImlhdCI6MTc0MTkxNjc3NiwiZXhwIjoxNzQxOTMxMTc2fQ.kvBAlh25YCECL1X4qn5ye2U8jMRhl_alOAd98rz22JY
        "401":
          description: JWT token expired
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: jwt expired
                  data:
                    type: object
  /service/rag-chat/create:
    post:
      tags:
        - service/rag-chat
      summary: Create a RAG-based chat
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  example: What are the major trade trends in 2023?
      responses:
        '200':
          description: Successfully created chat
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfuly create user chat
                  data:
                    type: object
                    properties:
                      query:
                        type: string
                        example: What are the major trade trends in 2023?
                      response:
                        type: array
                        items:
                          type: object
                          properties:
                            videoMetadata:
                              type: string
                              nullable: true
                              example: null
                            thought:
                              type: string
                              nullable: true
                              example: null
                            inlineData:
                              type: string
                              nullable: true
                              example: null
                            codeExecutionResult:
                              type: string
                              nullable: true
                              example: null
                            executableCode:
                              type: string
                              nullable: true
                              example: null
                            fileData:
                              type: string
                              nullable: true
                              example: null
                            functionCall:
                              type: string
                              nullable: true
                              example: null
                            functionResponse:
                              type: string
                              nullable: true
                              example: null
                            text:
                              type: string
                              example: >
                                Based on my augmented trade knowledge, here are some of the major trade trends observed in 2023:
                                
                                - Increased Trade in Used Goods: ...
                      grounding_metadata:
                        type: string
                        nullable: true
                        example: null
                      context_used:
                        type: array
                        items:
                          type: string
                          example: >
                            This trend is evident in the smartphone sector, with the 
                            market for new smartphones falling by 3.2% in 2023. In contrast, International Data Corporation (IDC) . . .
                      _id:
                        type: string
                        example: 6825a3b873df27baac13fa00
  /service/rag-chat/read:
    get:
      tags:
        - service/rag-chat
      summary: Read existing user RAG chats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved user chats
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfuly read all user chat
                  data:
                    type: object
                    properties:
                      chatData:
                        type: array
                        items:
                          type: object
                          properties:
                            query:
                              type: string
                              example: What are the major trade trends in 2024?
                            response:
                              type: array
                              items:
                                type: object
                                properties:
                                  videoMetadata:
                                    type: string
                                    nullable: true
                                    example: null
                                  thought:
                                    type: string
                                    nullable: true
                                    example: null
                                  inlineData:
                                    type: string
                                    nullable: true
                                    example: null
                                  codeExecutionResult:
                                    type: string
                                    nullable: true
                                    example: null
                                  executableCode:
                                    type: string
                                    nullable: true
                                    example: null
                                  fileData:
                                    type: string
                                    nullable: true
                                    example: null
                                  functionCall:
                                    type: string
                                    nullable: true
                                    example: null
                                  functionResponse:
                                    type: string
                                    nullable: true
                                    example: null
                                  text:
                                    type: string
                                    example: >
                                      In 2024, major trade trends include shifts in trade and industrial policies due to the prioritization of domestic issues and climate commitments...
                                  _id:
                                    type: string
                                    example: 6825a2bd8725dce9203daa37
                            grounding_metadata:
                              type: string
                              nullable: true
                              example: null
                            context_used:
                              type: array
                              items:
                                type: string
                                example: >
                                  This trend is evident in the smartphone sector, with the 
                                  market for new smartphones falling by 3.2% in 2023. In contrast, International Data Corporation (IDC) . . .
                            _id:
                              type: string
                              example: 6825a2bd8725dce9203daa36
                            createdTime:
                              type: string
                              format: date-time
                              example: "2025-05-16T09:37:05.938Z"
  /service/rag-chat/read/{id}:
    get:
      tags:
        - service/rag-chat
      summary: Get chat data by ID
      description: Retrieve a specific user chat by its ID.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The ID of the chat to retrieve
      responses:
        '200':
          description: Successfully retrieved chat by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfully read user chat by ID
                  data:
                    type: object
                    properties:
                      query:
                        type: string
                        example: What are the major trade trends in 2024?
                      response:
                        type: array
                        items:
                          type: object
                          properties:
                            videoMetadata:
                              type: string
                              nullable: true
                              example: null
                            thought:
                              type: string
                              nullable: true
                              example: null
                            inlineData:
                              type: string
                              nullable: true
                              example: null
                            codeExecutionResult:
                              type: string
                              nullable: true
                              example: null
                            executableCode:
                              type: string
                              nullable: true
                              example: null
                            fileData:
                              type: string
                              nullable: true
                              example: null
                            functionCall:
                              type: string
                              nullable: true
                              example: null
                            functionResponse:
                              type: string
                              nullable: true
                              example: null
                            text:
                              type: string
                              example: >
                                In 2024, major trade trends include shifts in trade and industrial policies due to the prioritization of domestic issues and climate commitments...
                            _id:
                              type: string
                              example: 6825a2bd8725dce9203daa37
                      grounding_metadata:
                        type: string
                        nullable: true
                        example: null
                      context_used:
                        type: array
                        items:
                          type: string
                          example: >
                            This trend is evident in the smartphone sector, with the 
                            market for new smartphones falling by 3.2% in 2023. In contrast, International Data Corporation (IDC) . . .
                      _id:
                        type: string
                        example: 6825a2bd8725dce9203daa36
                      createdTime:
                        type: string
                        format: date-time
                        example: "2025-05-16T09:37:05.938Z"
  /service/rag-chat/update:
    put:
      tags:
        - service/rag-chat
      summary: Reply chat with user query
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The chat ID to reply
                  example: "6826f7c8824a7fee3daba087"
                query:
                  type: string
                  description: User's query or response to be added
                  example: "But is it limited because of production deficit?"
              required:
                - id
                - query
      responses:
        '200':
          description: Successfully updated chat
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfuly update user chat
                  data:
                    type: object
                    properties:
                      query:
                        type: string
                        example: "But is it limited because of production deficit?"
                      response:
                        type: array
                        items:
                          type: object
                          properties:
                            videoMetadata:
                              type: string
                              nullable: true
                              example: null
                            thought:
                              type: string
                              nullable: true
                              example: null
                            inlineData:
                              type: string
                              nullable: true
                              example: null
                            codeExecutionResult:
                              type: string
                              nullable: true
                              example: null
                            executableCode:
                              type: string
                              nullable: true
                              example: null
                            fileData:
                              type: string
                              nullable: true
                              example: null
                            functionCall:
                              type: string
                              nullable: true
                              example: null
                            functionResponse:
                              type: string
                              nullable: true
                              example: null
                            text:
                              type: string
                              example: >
                                Indonesia's crude oil export opportunities to European markets may face limitations...
                      grounding_metadata:
                        type: string
                        nullable: true
                        example: null
                      context_used:
                        type: array
                        items:
                          type: string
                          example: > 
                            rather than deficit ones is that adjustment
                            towards more consumption in the former
                            is less deflationary for the world economy . . .
                      createdTime:
                        type: string
                        format: date-time
                        example: "2025-05-16T09:37:05.938Z"
  /service/pdf-report/create:
    post:
      tags:
        - service/pdf-report
      summary: Create a PDF report from chat
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chatId:
                  type: string
                  description: The ID of the chat to generate the PDF from
                  example: "682703d12957e0d33063327f"
              required:
                - chatId
      responses:
        '200':
          description: PDF created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfuly create pdf from chat
                  data:
                    type: object
                    properties:
                      pdfID:
                        type: string
                        example: 68270a18bad2faaf07ae79d4
                      pdfURL:
                        type: string
                        format: uri
                        example: https://cdn.simutrade.app/pdf/68270a18bad2faaf07ae79d4.pdf
  /service/pdf-report/read:
    get:
      tags:
        - service/pdf-report
      summary: Read all PDF reports for the user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Successfully retrieved user PDF reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfuly read all user pdf
                  data:
                    type: object
                    properties:
                      chatData:
                        type: array
                        items:
                          type: object
                          properties:
                            pdfURL:
                              type: string
                              format: uri
                              example: https://cdn.simutrade.app/pdf/68270a18bad2faaf07ae79d4.pdf
                            chatId:
                              type: string
                              example: 682703d12957e0d33063327f
                            createdAt:
                              type: string
                              format: date-time
                              example: "2025-05-16T09:37:05.938Z"
                            _id:
                              type: string
                              example: 68270a18bad2faaf07ae79d4
  /service/ai-agent/vertex:
    post:
      tags:
        - service/ai-agent
      summary: Create a custom AI agent chat using Vertex Google AI studio
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
              properties:
                query:
                  type: string
                  example: What are the major trade trends in 2023?
      responses:
        '200':
          description: Successfully created chat
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfuly create user chat
                  data:
                    type: object
                    properties:
                      query:
                        type: string
                        example: What are the major trade trends in 2023?
                      response:
                        type: array
                        items:
                          type: object
                          properties:
                            videoMetadata:
                              type: string
                              nullable: true
                              example: null
                            thought:
                              type: string
                              nullable: true
                              example: null
                            inlineData:
                              type: string
                              nullable: true
                              example: null
                            codeExecutionResult:
                              type: string
                              nullable: true
                              example: null
                            executableCode:
                              type: string
                              nullable: true
                              example: null
                            fileData:
                              type: string
                              nullable: true
                              example: null
                            functionCall:
                              type: string
                              nullable: true
                              example: null
                            functionResponse:
                              type: string
                              nullable: true
                              example: null
                            text:
                              type: string
                              example: >
                                Based on my augmented trade knowledge, here are some of the major trade trends observed in 2023:
                                
                                - Increased Trade in Used Goods: ...
                      grounding_metadata:
                        type: string
                        nullable: true
                        example: null
                      context_used:
                        type: array
                        items:
                          type: string
                          example: >
                            This trend is evident in the smartphone sector, with the 
                            market for new smartphones falling by 3.2% in 2023. In contrast, International Data Corporation (IDC) . . .
  /service/ai-agent/openrouter:
    post:
      tags:
        - service/ai-agent
      summary: Create a custom AI agent chat using openrouter.ai
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - query
                - model
              properties:
                query:
                  type: string
                  example: What are the major trade trends in 2023?
                model:
                  type: string
                  example: gemma-3-27b-it:free
                  enum:
                    - google/gemma-2-9b-it:free
                    - gemma-3-1b-it:free
                    - gemma-3-4b-it:free
                    - gemma-3-12b-it:free
                    - gemma-3-27b-it:free
                    - gemini-2.0-flash-exp:free
      responses:
        '200':
          description: Successfully created chat
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Successfully created user chat
                  data:
                    type: object
                    properties:
                      answer:
                        type: string
                        example: The major global trade trends in 2023 are...
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT