DEBUG=true
PORT=8080
FE_HOST=https://simutrade.app

MONGODB_URI="mongodb://localhost:27017/simutrade?authSource=admin"

JWT_SECRET=
JWT_DEFAULT_EXPIRE=4h
SESSION_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_SSL=
EMAIL_USER=
EMAIL_PASS=

R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET=
R2_PUBLIC_URL=

SIMUTRADE_AI_HOST=http://localhost:80

OPENROUTER_API_URL=https://openrouter.ai/api/v1/chat/completions
OPENROUTER_API_KEY=