DEBUG=true
PORT=8080
FE_HOST=https://simutrade.app

MONGODB_URI="mongodb://localhost:27017/simutrade?authSource=admin"

JWT_SECRET=
JWT_DEFAULT_EXPIRE=4h
SESSION_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_OAUTH_CALLBACK=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_SSL=
EMAIL_USER=
EMAIL_PASS=